button {
    height: 95px;
    width: 115px;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 30%;
}

.home1 {
    width: 100%;
    display: flex;
    background-color: brown;
    height: fit-content;
    justify-content: center;
    margin-top: 5%;
}

.new1 {
    margin-top: 10%;
    margin-left: 6%;
    text-align: right;
    margin-right: 20%;
}

.new1 button {
    width: 150px;
    height: 100px;
    background-color: transparent;
    color: white;
    font-size: 21px;
    border-radius: 5%;
    border-color: rgb(245, 245, 245);

    border-width: 15px;
}

.new1 img {
    margin-bottom: 2px;
    margin-right: 2px;
    width: 550px;
    height: 400px;
}

.new1 p {
    margin-left: 400px;
}