.logo {
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}

img {
    height: 250px;
    margin-right: 15%;
    margin-bottom: 55%;
}