.text {
    color: black;
    width: 30rem;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.textH {
    text-align: left;
    margin-top: 2rem;
    text-decoration: underline;
    margin-bottom: 2px;
}

.textB {
    text-align: left;
    justify-content: center;
}