.text{
    color:black;
    width: 30rem;
    margin-top: 5rem;
    margin-left: 5rem;
}
.textH{
    text-align: left;
   text-decoration: underline;
   margin-bottom: 10%;
}
.textB{
    text-align: left;
    justify-content: center;
   
}