.paper {
    border-radius: 3px;
    background-color: rgb(243, 241, 241);
    box-shadow: 0 0 5px 0px black;
    min-height: 55rem;
    width: fit-content;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 0.05%;
    padding-bottom: 5%;
}