.paper {
    border-radius: 3px;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 5px 0px black;
    min-height: 55rem;
    min-width: 40rem;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 50px;
    margin-right: 50px;
}